/* {
    border: 1px solid black;
}*/

body {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items:center;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    font-family:Georgia, 'Times New Roman', Times, serif;
}

h2 {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

p {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

button {
    border: none;
    border-radius: 10px;
    padding: 8px;
    color: white;
    background-color: rgb(89, 95, 255);
    transition: 0.5s ease;
}

button:hover {
    background-color: rgb(226, 43, 119);
    transform: scale(0.9)
}

.responses {
    margin: 20px;
}

#fun {
    width: 300px;
    height: 300px;
    border-radius: 30px;
    overflow: contain;
}

#punchline {
    color:rgb(89, 95, 255);
    font-size: 30px;
}

a {
    text-decoration: none;
    background-color: black;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 20px;
    transition: 0.5s ease;
}

a:hover {
    background-color: white;
    color: black;
    border: 1px solid black;
    transform: scale(1.2);
}

@keyframes inNout {
    0% {
        transform: scale(1);
    }
    25% {
        transform: scale(1.25);
    }
    50% {
        transform: scale(1.5);
    }
    75% {
        transform: scale(1.25);
    }
    100% {
        transform: scale(1);
    }

}


h1, #punchline {
    animation: inNout 2s linear infinite;
}