* {
    border: 1px solid black;
}

body {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items:center;
}

.responses {
    margin: 20px;
}

#fun {
    width: 300px;
    height: 300px;
    border-radius: 30px;
    overflow: contain;
}

a {
    text-decoration: none;
    background-color: black;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 20px;
    transition: 0.5s ease;
}

a:hover {
    background-color: white;
    color: black;
    border: 1px solid black;
    transform: scale(1.2);
}

@keyframes inNout {
    0% {
        transform: scale(1);
    }
    25% {
        transform: scale(1.25);
    }
    50% {
        transform: scale(1.5);
    }
    75% {
        transform: scale(1.25);
    }
    100% {
        transform: scale(1);
    }

}

h1 {
    animation: inNout 2s linear infinite;
}